<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAVBAR</title>
    <style>
       .navbarr {
            display: flex;
            justify-content: space-between; /* This spaces out items evenly */
            align-items: center; /* This centers the items vertically */
            padding: 10px 15px;
        }
        h1 {
            margin: 0;
        }
    </style>
</head>
<body>
    {% load static %}
    <div class="navbarr">
    <a href="/" id="important"><h1><img style="height: 100px; width: 100px;"   src="{% static 'images/logo.webp' %}"></h1></a> <h1>IAS Academy</h1>
    </div>
    <hr>
    
    
    
</body>
</html>